@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Press+Start+2P&display=swap");
/* font-family: 'Courgette', cursive;
font-family: 'Press Start 2P', cursive; */
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}
.waveWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  overflow: hidden;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  height: calc(100% - 20vh);
  top: 0;
  overflow: hidden;
  background-image: linear-gradient(to top, #0099ff 20%, #005188 80%);
}
.waveWrapperInner h1 {
  font-family: "Courgette", cursive;
}
.top {
  opacity: 0.5;
  z-index: 15;
}
.mid {
  opacity: 0.75;
  z-index: 10;
}
.bottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat !important;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveTop {
  background-size: 50% 100px;
  animation: wave 3s;
  animation-delay: 1s;
}
@keyframes wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveMid {
  background-size: 50% 120px;
  animation: wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  animation: wave 15s linear infinite;
}
.hone {
  margin-top: 30vh;
  font-family: "Press Start 2P", cursive;
}
.enter input {
  width: 20vw;
  height: 30px;
  margin-top: 40px;
}
.enter button {
  font-family: "Press Start 2P", cursive;
  padding: 8px;
  border: none;
}
